body {
  color: black;
  font-family: Verdana;
  background-image: url("images/background.png"); /* Replace with your image name or URL */
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-size: cover;      /* Forces image to cover the whole screen */
    background-attachment: fixed; /* Keeps the background from scrolling */
    background-position: center;  /* Centers the image */
    text-align: center;
}
.circle-pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Keeps image from looking squished */
  }


